version: '3.3'

services:
    hubot:
        build:
            args:
                CBF_VERSION: "${CBF_VERSION:-}"
                CONTAINER_NAME: hubot
                FROM_BASE: ${DOCKER_REGISTRY:-}supervisord:${BASE_TAG:-latest}
                HUBOT_USER: hubot
            cache_from:
                - ${DOCKER_REGISTRY:-}alpine:3.8
                - ${DOCKER_REGISTRY:-}base_container:${BASE_TAG:-latest}
                - ${DOCKER_REGISTRY:-}supervisord:${BASE_TAG:-latest}
            context: .
            dockerfile: Dockerfile
            labels:
                container.build.time: $CONTAINER_BUILD_TIME
                container.fingerprint: $CONTAINER_FINGERPRINT
                container.git.branch: $CONTAINER_GIT_BRANCH
                container.git.commit: $CONTAINER_GIT_COMMIT
                container.git.url: $CONTAINER_GIT_URL
                container.origin: $CONTAINER_ORIGIN
                container.original.name: hubot
        container_name: hubot
        environment:
            DEBUG_TRACE: ${DEBUG_TRACE:-0}
            HUBOT_BOT_NAME: hubot
            HUBOT_GITHUB_REPOS_MAP: '{"git":["ballab1/alpinefull","ballab1/bin","ballab1/DBMS-backup","ballab1/hubot","ballab1/jenkins","ballab1/jenkins-files","ballab1/kafka-i386","ballab1/mysql","ballab1/nagios","ballab1/nginx","ballab1/phpmyadmin","ballab1/prod","ballab1/update-check","ballab1/UptimePipeline","ballab1/webhooks","ballab1/zenphoto"]}'
            HUBOT_GITHUB_TOKEN: $CFG_GITHUB_HUBOT_TOKEN
#            HUBOT_GITHUB_WEBHOOK_SECRET: $CFG_HUBOT_GITHUB_WEBHOOK_SECRET
            HUBOT_SLACK_TOKEN: $CFG_SLACK_HUBOT_TOKEN
            SUPERVISORD_PASS: $CFG_PASS
            SUPERVISORD_USER: $CFG_USER
        hostname: hubot
        image: ${DOCKER_REGISTRY:-}hubot:${CONTAINER_TAG:-latest}
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        ports:
            - 5858:5858
            - 8081:8080
            - 8123:8123
        volumes:
            - ./vols/redis:/var/lib/redis
            - ./vols/log:/var/log
            - ./vols/conf:/opt/hubot
